/* AccessoriesDescription.css */

.accessoriesCardContainer {
    width: 100%;
    height: 580px;    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .accessoriesImageContainer {
    /* width: 100%;
    max-height: 500px;
    display: flex;
    padding: 30px 300px 0px 0px;
    justify-content: center; */
    width: 100%;
    max-height: 500px;
    display: flex;
    padding: 30px 50px 0px 100px;
    align-items: center;
    justify-content: center;
  }
  
  .accessoriesImageContainer img {
    /* max-width: 100%;
    max-height: 100%;
    padding-left: 300px; */
    max-width: 100%; 
    max-height: 100%;
    
    /* padding-left: 100px; */
    object-fit: contain;
  }
  
  .accessoriesCardContentContainer {
    /* width: 100%; */
  }
  
  .accessoriesColorSelection {
    padding: 20px 0px 10px 0px;
  }
  
  .accessoriesButton {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  
  .accessoriesSelected {
    background-color: #e0e0e0;
  }
  
  .accessoriesPriceSection {
    padding: 10px 0px;
  }
  
  .accessoriesPinCodeSection {
    margin-top: 10px;
  }

  @media (min-width: 600px) {
    .accessoriesCardContainer {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .accessoriesImageContainer {
      max-width: 50%;
    }
  
    .accessoriesCardContentContainer {
      max-width: 45%;
    }
  }
