
.accessoriesCardContainer {
  width: 100%;
  height: 570px;
  display: flex;
  align-items: stretch;
}

.accessoriesImageContainer {
  flex: 1;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.accessoriesImageContainer img {
  width: auto;
  height: 100%;
  object-fit: contain;
  padding: 60px;
}

.accessoriesCardContentContainer {
  padding-top: 25px;
  width: 100%;
  max-width: 50%;
  overflow: hidden;
}

.accessoriesColorSelection {
  padding: 20px 0px 10px 0px;
}

.accessoriesButton {
  margin-right: 8px;
  margin-bottom: 8px;
}

.accessoriesSelected {
  background-color: #e0e0e0;
}

.accessoriesPriceSection {
  padding: 10px 0px;
  color: red;
}

.accessoriesPinCodeSection {
  margin-top: 10px;
}

@media (min-width: 600px) {
  .accessoriesCardContainer {
    flex-direction: row;
    justify-content: space-between;
  }
  .accessoriesImageContainer {
    max-width: 50%;
  }
  .accessoriesCardContentContainer {
    max-width: 45%;
  }
}
